{% extends 'layout/Base.html' %}

{% block Title %}Контакты{% endblock %}

{% block Body %}
<a class="btn btn-dark" href="{% url 'create_contact' %}">Добавить контакт</a>
<a class="btn btn-dark" href="{% url 'generate_contacts' times=10 %}">Сгенерировать данные</a>
<a class="btn btn-dark" href="{% url 'delete_contacts' %}">Удалить все контакты</a>
<hr>
<h5>Фильтры</h5>
<form method="post" action="{% url 'show_contacts' %}">
    {% csrf_token %}
    <label class="form-label">
        Имя: <input type='text' name='first_name' value='' />
    </label>
    <label class="form-label">
        Отчество: <input type='text' name='middle_name' value='' />
    </label>
    <label class="form-label">
        Фамилия: <input type='text' name='last_name' value='' />
    </label>
    <label class="form-label">
        Телефонный номер: <input type='text' name='phone_number' value='' />
    </label>
    <input type="submit" value="Отфильтровать">
</form>
<hr>
<table class="table table-striped">
    <caption class="caption-top">Таблица контактов</caption>
    <thead class="table-dark">
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Фамилия</th>
        <th>Телефонный номер</th>
        <th>Кнопки</th>
    </tr>
    </thead>
    {% for contact in data %}
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.middle_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.phone_number }}</td>
            <td>
                <a href="{% url 'edit_contact' pk=contact.id %}">Изменить</a>
                <a href="{% url 'remove_contact' pk=contact.id %}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}