<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'create_contact' %}">Добавить контакт</a>
    <a href="{% url 'generate_contacts' times=10 %}">Сгенерировать данные</a>
    <a href="{% url 'delete_contacts' %}">Удалить все контакты</a>
    <hr>

    <table border="1">
        <caption>Таблица контактов</caption>
        <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Фамилия</th>
            <th>Телефонный номер</th>
        </tr>
        {% for contact in data %}
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.middle_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.phone_number }}</td>
        </tr>
    {% endfor %}
    </table>

</body>
</html>